---
import Layout from "../../layouts/Layout.astro";
import Faq from "components/Faq";
import TextFormat from "lib/helpers/TextFormat";
import blueCheck from "assets/blueCheck.svg";
import Fade from "react-reveal/Fade";
import LogoMarquee from "components/LogosSlide";
import PriceList from "components/PricingList/PriceList";

const images = [
   "/images/pricing/buffer.svg",
   "/images/pricing/stripe.svg",
   "/images/pricing/netflix.svg",
   "/images/pricing/dropbox.svg",
   "/images/pricing/hub.svg",
   "/images/pricing/framer.svg",
];
---

<Layout title="buildCAP: Plans and Pricing">
   <section class="mt-20 w-full overflow-hidden bg-primary-1 text-white">
      <section
         class="container relative w-full max-w-[1700px] px-container-base py-[3rem] pb-20 md:py-[5rem] md:pb-[7.25rem] md:pt-[6rem] lg:px-container-lg xl:px-container-xl"
      >
         <div class="relative flex w-full flex-col justify-center gap-[2.5rem] md:gap-[2.75rem]">
            <div class="flex flex-col items-center justify-center gap-6 2xl:gap-8">
               <div class="flex items-center gap-4 rounded-full bg-secondary-1/25 px-6 py-3">
                  <p class="text-sm font-[600] md:text-lg">PRICING PLAN</p>
               </div>
               <h1
                  class="text-center text-[2.3rem] font-[700] leading-[130%] tracking-[0.02rem] transition-all duration-500 ease-in-out md:max-w-[60rem] md:text-[4.4rem] md:leading-[5rem] md:tracking-[0.0225rem] lg:ml-[-0.2rem]"
               >
                  <TextFormat
                     text={`Pick the best plan for your business`}
                     keyword={"business"}
                     keywordClassName="text-secondary  transition-all duration-500 ease-in-out"
                  />
               </h1>
               <Fade bottom client:load>
                  <h2
                     class="mt-4 max-w-[38.875rem] text-center text-[1.18rem] font-[500] leading-[2.2rem] text-gray-400 md:mt-10 md:text-[1.3rem] md:leading-[2rem] xxl:max-w-[45.875rem] xxl:text-[1.3rem]"
                  >
                     These businesses already use buildCAP
                  </h2>
               </Fade>

               <div
                  class="mx-auto mb-5 flex max-w-6xl items-center gap-4 transition-all duration-500 ease-in-out"
               >
                  <LogoMarquee images={images} client:only />
               </div>
            </div>
         </div>
      </section>
   </section>
   <section class="bg-primary-2 py-10">
      <!-- price list -->
      <PriceList client:load />
   </section>
   <section class="w-full bg-primary-2">
      <section
         class="container relative w-full max-w-[1700px] px-container-base py-[3rem] md:py-[8rem] lg:px-container-lg xl:px-container-xl"
      >
         <div class="flex flex-col items-center justify-center gap-6 2xl:gap-8">
            <div class="flex items-center rounded-full px-6 py-3">
               <img src="images/pricing/hunt.svg" alt="" class="w-40 md:w-full" />
            </div>
            <h1
               class="max-w-[80rem] text-center text-[1.6rem] font-[700] leading-[130%] tracking-[0.02rem] text-secondary-2 transition-all duration-500 ease-in-out md:text-[4.4rem] md:leading-[5rem] md:tracking-[0.0225rem] lg:ml-[-0.2rem]"
            >
               <TextFormat
                  text={`“The Very best tool for non-technical person to build almost everything.”`}
                  keyword={"The buildCAP"}
                  keywordClassName="text-primary-1 transition-all duration-500 ease-in-out"
               />
            </h1>

            <div
               class="mb-5 flex flex-col items-center gap-4 transition-all duration-500 ease-in-out md:flex-row"
            >
               <Fade bottom client:load>
                  <p class="text-sm text-gray-500 md:text-xl">
                     buildCAP is rated 4.9/5 stars on product hunt reviews.
                  </p>
               </Fade>
               <div class="flex items-center gap-4 rounded-full bg-secondary-1/25 px-6 py-3">
                  <p class="text-sm font-[600] md:text-xl">See what they are saying</p>
                  <img src="images/landing-page/arrow.svg" alt="" />
               </div>
            </div>
         </div>
      </section>
   </section>

   <section class="w-full bg-primary-2 py-[2.5rem]">
      <Faq client:only />
   </section>
   <section class="w-full scroll-mt-28 bg-primary-1" id="download">
      <section
         class="container relative w-full max-w-[1700px] overflow-x-hidden px-container-base py-[4rem] md:py-[10rem] lg:px-container-lg xl:px-container-xl"
      >
         <div class="flex w-full flex-col items-center gap-10">
            <div class="">
               <h2
                  class="max-w-[90rem] text-center text-[2rem] font-[600] leading-[130%] tracking-[0.02rem] text-white transition-all duration-500 ease-in-out md:text-[4rem] md:leading-[5rem] md:tracking-[0.0225rem]"
               >
                  <TextFormat
                     text={`Start your buildCAP journey and amplify your business`}
                     keyword={"business"}
                     keywordClassName="text-secondary-1 transition-all duration-500 ease-in-out"
                  />
               </h2>
            </div>

            <div
               class="flex items-center gap-4 transition-all duration-500 ease-in-out md:w-1/2 md:justify-center"
            >
               <a href="/" class="">
                  <div
                     class="flex items-center justify-center rounded-lg bg-white px-4 py-3 md:px-6 md:py-4"
                  >
                     <p class="text-sm font-bold tracking-wider text-primary-1 md:text-base">
                        Get started with buildCAP
                     </p>
                  </div>
               </a>
            </div>
         </div>
      </section>
   </section>
</Layout>
