---
import Nav from "components/Nav/index.astro";

import "@fontsource/lato";
import "@fontsource-variable/plus-jakarta-sans";
import heroBgImg from "../assets/heroBgImage.svg";
import heroBgImgMobile from "../assets/heroBgImageMobile.svg";
import Footer from "components/Footer";
import Faq from "components/Faq";
import "react-toastify/dist/ReactToastify.css";

import { ToastContainer } from "react-toastify";

export interface Props {
   title?: string;

   darkNavBg?: boolean;
   withoutBottomNav?: boolean;
   withoutFAQ?: boolean;
   withoutWhatBusinessSay?: boolean;
}

export const prerender = true;

let { title, darkNavBg, withoutBottomNav, withoutFAQ, withoutWhatBusinessSay } = Astro.props;
const PAGE_TITLE = title != null && title?.length > 0 ? title : "buildCAP - ";
---

<!DOCTYPE html>
<html lang="en" class="">
   <head itemscope itemtype="http://schema.org/WebSite">
      <meta name="title" content="buildCAP" />

      <meta
         name="description"
         content="Empowering you to do the best work of your life with efficiency, speed and accuracy.."
      />
      <link rel="icon" type="image/svg+xml" href="/images/fav.png" />
      <link rel="preconnect" href="https://fonts.googleapis.com" />
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
      <link
         href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
         rel="stylesheet"
      />

      <link
         href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,500;1,9..40,700;1,9..40,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap"
         rel="stylesheet"
      />

      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <meta
         name="keywords"
         content="jobs, hire, employment, job search, job site, job vacancies, job openings, job listings, job opportunities, job search engine, work, find jobs, career, careers, job application, job search, recruitment, job search, employment, job vacancies, job listings, job openings, job opportunities, job site, job search engine, work, find jobs, career, careers, job application, job search, recruitment, job search, employment, job vacancies, job listings, job openings, job opportunities, job site, job search engine, work, find jobs, career, careers, job application, job search, recruitment, job search, employment, job vacancies, job listings, job openings, job opportunities, job site, job search engine, work, find jobs, career, careers, job application, job search, recruitment, job search, employment, job vacancies, job listings, job openings, job opportunities, job site, job search engine, work, find jobs, career, careers, job application, job search, recruitment"
      />
      <meta itemprop="name" content="buildCAP" />
      <meta itemprop="url" content="https://buildCAP.com/" />
      <meta property="og:title" content="buildCAP" />
      <meta
         property="og:description"
         content="Empowering you to do the best work of your life with efficiency, speed and accuracy."
      />
      <meta property="og:url" content="buildCAP.com" />
      <meta property="og:type" content="website" />
      <meta property="og:site_name" content="buildCAP" />
      <meta property="og:image" content="/images/og.png" />

      <title>
         {PAGE_TITLE || "buildCAP"}
      </title>
      <script type="application/ld+json">
         {
            "@context": "http://schema.org",
            "@type": "Organization",
            "url": "https://the-buildCAP.com/",
            "logo": "/images/logo.svg",
            "contactPoint": [
               {
                  "@type": "ContactPoint",
                  "email": "support@jointhebuildCAP.com",
                  "contactType": "support",
                  "availableLanguage": ["English"],
                  "description": "Customer support"
               }
            ]
         }
      </script>
   </head>
   <body class="h-[100vh] w-screen overflow-hidden font-DmSans">
      <div class="relative h-full w-full overflow-x-hidden scroll-smooth">
         {
            (
               <section class={`fixed left-0 top-0 z-[200] w-full bg-primary-2 shadow-sm`}>
                  <Nav darkNavBg={!darkNavBg} />
               </section>
            )
         }

         <slot />
         <ToastContainer
            position="top-right"
            autoClose={5000}
            hideProgressBar={false}
            newestOnTop={false}
            closeOnClick
            rtl={false}
            pauseOnFocusLoss
            draggable
            pauseOnHover
            theme="colored"
            client:only
         />
         <section class="w-full bg-primary-1 pb-[1.5rem]">
            <Faq client:load />
         </section>
         <section class="w-full bg-primary-20 pb-[1.5rem]">
            <Footer client:load />
         </section>
      </div>
   </body>
</html>
<style is:global>
   :root {
   }
   * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
   }

   html {
      font-size: 14px;
      color:;
   }
   /* styles.css */
   .custom-dot-list-style li button {
      @apply bg-none; /* Replace with your Tailwind color class */
   }
   .justify-startt {
      align-self: flex-start;
   }
   .hash-span {
      margin-top: -100px;
      padding-bottom: 100px;
      display: block;
      color: #304a88;
   }

   .black-gradient {
      background: #000000; /* fallback for old browsers */
      background: -webkit-linear-gradient(
         to right,
         #434343,
         #000000
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
         to right,
         #434343,
         #000000
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   }
   .section__gradient {
      font-family: "Rubik", sans-serif;
      margin-right: 1rem;
      background-image: -webkit-gradient(linear, left top, right top, from(#b0f3f1), to(#ffcfdf));
      background-image: -webkit-linear-gradient(left, #b0f3f1, #ffcfdf);
      background-image: linear-gradient(90deg, #b0f3f1, #ffcfdf);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;
   }

   .hire-button {
      background: #6bc5f8;
      background: linear-gradient(to top, #6bc5f8 0%, #cf59e6 100%);
   }
   .hire-button:hover {
      background: #6bc5f8;
      background: linear-gradient(to top right, #6bc5f8 0%, #cf59e6 100%);
   }

   .violet-gradient {
      background: #804dee;
      background: linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
      background: -webkit-linear-gradient(-90deg, #804dee 0%, rgba(60, 51, 80, 0) 100%);
   }
   @keyframes gradient {
      0% {
         background-position: 0 50%;
      }
      50% {
         background-position: 100% 50%;
      }
      100% {
         background-position: 0 50%;
      }
   }

   .header__hero--heading-gradient {
      font-family: "Rubik", sans-serif;
      background: -webkit-linear-gradient(135deg, #6bc5f8, #cf59e6, #6bc5f8, #cf59e6);
      background: linear-gradient(-45deg, #6bc5f8, #cf59e6, #6bc5f8, #cf59e6);
      background-clip: text;

      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      /* display: inline-block; */
      /* -webkit-animation: gradient 3s ease infinite; */
      /* animation: gradient 3s ease infinite; */
   }
   .heading-gradient {
      font-family: "Rubik", sans-serif;
      background: -webkit-linear-gradient(135deg, #6bc5f8, #cf59e6, #6bc5f8, #cf59e6);
      background: linear-gradient(-45deg, #6bc5f8, #cf59e6, #6bc5f8, #cf59e6);
      background-clip: text;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      display: inline-block;

      /* -webkit-animation: gradient 3s ease infinite; */
      /* animation: gradient 3s ease infinite; */
   }

   .green-pink-gradient {
      background: "#00cea8";
      background: linear-gradient(90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
      background: -webkit-linear-gradient(-90.13deg, #00cea8 1.9%, #bf61ff 97.5%);
   }

   .orange-text-gradient {
      background: #f12711; /* fallback for old browsers */
      background: -webkit-linear-gradient(
         to top,
         #f12711,
         #f5af19
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
         to top,
         #f12711,
         #f5af19
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }

   .green-text-gradient {
      background: #11998e; /* fallback for old browsers */
      background: -webkit-linear-gradient(
         to top,
         #11998e,
         #38ef7d
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
         to top,
         #11998e,
         #38ef7d
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }

   .blue-text-gradient {
      /* background: -webkit-linear-gradient(#eee, #333); */
      background: #56ccf2; /* fallback for old browsers */
      background: -webkit-linear-gradient(
         to top,
         #2f80ed,
         #56ccf2
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
         to top,
         #2f80ed,
         #56ccf2
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }

   .pink-text-gradient {
      background: #ec008c; /* fallback for old browsers */
      background: -webkit-linear-gradient(
         to top,
         #ec008c,
         #fc6767
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
         to top,
         #ec008c,
         #fc6767
      ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
   }

   /* canvas- styles */
   .canvas-loader {
      font-size: 10px;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      position: relative;
      text-indent: -9999em;
      animation: mulShdSpin 1.1s infinite ease;
      transform: translateZ(0);
   }

   @keyframes mulShdSpin {
      0%,
      100% {
         box-shadow:
            0em -2.6em 0em 0em #ffffff,
            1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
            2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
            1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
            0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
            -2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
            -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
      }
      12.5% {
         box-shadow:
            0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
            1.8em -1.8em 0 0em #ffffff,
            2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
            1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
            0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
            -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
      }
      25% {
         box-shadow:
            0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
            1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7),
            2.5em 0em 0 0em #ffffff,
            1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
            0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
            -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
      }
      37.5% {
         box-shadow:
            0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
            1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
            2.5em 0em 0 0em rgba(255, 255, 255, 0.7),
            1.75em 1.75em 0 0em #ffffff,
            0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
            -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
      }
      50% {
         box-shadow:
            0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
            1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
            2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
            1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7),
            0em 2.5em 0 0em #ffffff,
            -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
            -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
      }
      62.5% {
         box-shadow:
            0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
            1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
            2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
            1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
            0em 2.5em 0 0em rgba(255, 255, 255, 0.7),
            -1.8em 1.8em 0 0em #ffffff,
            -2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
      }
      75% {
         box-shadow:
            0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
            1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
            2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
            1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
            0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
            -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7),
            -2.6em 0em 0 0em #ffffff,
            -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
      }
      87.5% {
         box-shadow:
            0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
            1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
            2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
            1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
            0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
            -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
            -2.6em 0em 0 0em rgba(255, 255, 255, 0.7),
            -1.8em -1.8em 0 0em #ffffff;
      }
   }
</style>
