---
import Layout from "../../layouts/Layout.astro";
import TextFormat from "lib/helpers/TextFormat";
---

<Layout title="The buildCAP: Get the Best">
   <section
      class="container relative mt-36 w-full max-w-[1700px] overflow-x-hidden px-container-base md:mt-24 md:py-[4.5rem] md:pt-[2.5rem] lg:px-container-lg xl:px-container-xl"
   >
      <div
         class="relative flex w-full flex-col gap-[1.5rem] md:grid md:grid-cols-[1fr_1fr] md:gap-[2.75rem]"
      >
         <div class="flex flex-grow flex-col justify-center gap-6 2xl:gap-8">
            <h1
               class="max-w-[40rem] text-left text-[2rem] font-[600] leading-[130%] tracking-[0.02rem] text-secondary-2 transition-all duration-500 ease-in-out md:text-[4.4rem] md:leading-[5rem] md:tracking-[0.0225rem] lg:ml-[-0.2rem]"
            >
               <TextFormat
                  text={"Privacy Policy"}
                  keyword={"Policy"}
                  keywordClassName="text-primary-1 transition-all duration-500 ease-in-out"
               />
            </h1>
            <h2
               class="max-w-[38.875rem] text-left text-[1.18rem] font-[500] leading-[1.8rem] text-secondary-2 md:text-[1.3rem] xxl:max-w-[45.875rem] xxl:text-[1.3rem]"
            >
            </h2>
            <h2
               class="max-w-[38.875rem] text-left text-[1.18rem] font-[500] leading-[1.8rem] text-secondary-2 md:text-[1.3rem] xxl:max-w-[45.875rem] xxl:text-[1.3rem]"
            >
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio laudantium
               laboriosam dicta unde veritatis odio, repellendus qui. Magnam, fugit dolores!
            </h2>

            <div
               class="mb-5 flex items-center gap-4 transition-all duration-500 ease-in-out md:mb-0 md:ml-[-6px]"
            >
               <a href="/" class="">
                  <div
                     class="flex items-center justify-center gap-2 rounded-lg bg-primary-1 px-4 py-2 pr-6"
                  >
                     <img src="/svgs/playWhite.svg" class="h-[1.5rem] w-[1.5rem]" />

                     <div>
                        <p class="text-sm font-light tracking-wider text-white">Get it on</p>
                        <p class="text-base font-semibold tracking-wider text-white">Google Play</p>
                     </div>
                  </div>
               </a>
               <a href="/" class="">
                  <div
                     class="flex items-center justify-center gap-2 rounded-lg bg-primary-1 px-4 py-2 pr-6"
                  >
                     <img
                        src="/svgs/iosWhite.svg"
                        class="h-[1.5rem] w-[1.5rem] lg:h-[2rem] lg:w-[2rem]"
                     />

                     <div>
                        <p class="text-sm font-light tracking-wider text-white">Get it on</p>
                        <p class="text-base font-semibold tracking-wider text-white">App Store</p>
                     </div>
                  </div>
               </a>
            </div>
         </div>

         <section>
            <div
               class="relative flex h-full max-h-[45rem] min-h-[25.375rem] w-full flex-col items-end justify-between rounded-lg lg:min-h-[30.375rem] 2xl:min-h-[40.375rem]"
               style={{
                  background: `linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('/images/terms/privacy.png')`,
                  backgroundSize: "cover",
                  backgroundPosition: "center",
               }}
            >
            </div>
         </section>
      </div>

      <section class="flex w-full flex-col gap-8 pt-[7.5rem]">
         <h2 class="text-3xl font-bold md:text-6xl">Application of this Privacy Policy</h2>
         <p class="text-[1.18rem] leading-[2.4rem] tracking-[0.0225rem] text-gray-500">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse porro odit saepe qui
            rerum. Praesentium cumque, officia architecto in est doloribus quod nisi fugiat
            repellendus molestiae iste, laborum eius placeat maiores dicta eum suscipit nam esse.
            Dolorum aliquid maxime esse reiciendis laborum magnam corrupti deserunt velit eius
            aliquam. Esse debitis qui maxime tempore dolorem facere iure sequi, vero in molestiae?
            Quae unde sapiente dolorum voluptates fuga! Assumenda beatae provident facere quia,
            ratione repellendus est doloremque eveniet autem. Voluptas, perferendis? Quam non
            aliquam accusantium? Provident ad minus facere fugiat accusantium porro nostrum fugit
            rem, natus cum nulla reprehenderit eos. Eligendi vitae quo repudiandae at culpa tenetur
            amet reprehenderit eaque tempore aliquid esse rerum, odio similique fuga praesentium
            dolor vel eius distinctio nobis, quidem deleniti alias. Nisi eveniet nostrum eius libero
            exercitationem repudiandae totam sunt. Laboriosam hic iste vero quidem reiciendis?
            Provident esse nemo repellendus rerum voluptatibus ducimus in velit, aperiam officia.
         </p>

         <p class="text-[1.18rem] leading-[2.4rem] tracking-[0.0225rem] text-gray-500">
            “You” and “your” mean the person who uses or accesses the Services.
         </p>

         <p class="text-[1.18rem] leading-[2.4rem] tracking-[0.0225rem] text-gray-500">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, ipsa!
         </p>

         <p class="text-[1.18rem] leading-[2.4rem] tracking-[0.0225rem] text-gray-500">
            "Business Day” means weekdays excluding Saturdays and Sundays and all other days
            officially declared work-free days/public holidays in Nigeria.
         </p>

         <p class="text-[1.18rem] leading-[2.4rem] tracking-[0.0225rem] text-gray-500">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio iure adipisci eveniet
            esse. Adipisci ab doloremque neque sunt, natus odit eos quae ratione consectetur
            exercitationem, hic possimus magnam animi recusandae alias minus distinctio modi
            laboriosam consequuntur nam, quo maxime ullam!
         </p>

         <p class="text-[1.18rem] leading-[2.4rem] tracking-[0.0225rem] text-gray-500">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem perferendis perspiciatis
            quam error asperiores officiis molestias exercitationem omnis illo fugit.
         </p>

         <p class="text-[1.18rem] leading-[2.4rem] tracking-[0.0225rem] text-gray-500">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores omnis, laudantium
            ducimus fugiat quo nulla iste laboriosam beatae exercitationem molestias, fugit ipsum id
            quas quaerat. Soluta nam molestiae inventore unde modi esse saepe in nostrum, expedita
            quia magni hic ut! Nesciunt similique dicta, velit quis ut pariatur ea, cum adipisci
            necessitatibus blanditiis tempora odio dignissimos tenetur consectetur. Doloribus, vel
            error.
         </p>
         <h2 class="text-3xl font-bold md:text-6xl">
            Information We Collect and How We Collect It
         </h2>
         <p class="text-[1.18rem] leading-[2.4rem] tracking-[0.0225rem] text-gray-500">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque molestiae dicta, pariatur
            voluptate possimus fuga quia eaque at iure nemo dignissimos in dolores consectetur
            consequatur? Libero ex vero adipisci magnam sed nulla aliquid molestias molestiae
            dignissimos sequi, culpa nam neque obcaecati architecto quidem corporis dolorum.
            Aperiam, beatae, quidem accusamus expedita voluptates odio quo officiis autem, molestias
            facilis in amet!
         </p>

         <p class="text-[1.18rem] leading-[2.4rem] tracking-[0.0225rem] text-gray-500">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus fuga, maiores sit
            vitae placeat quibusdam ducimus aliquam porro molestiae quo id, at pariatur sequi minus
            quaerat voluptate amet deleniti impedit voluptates quam! Temporibus nemo ab ratione
            voluptates fuga, dolor fugit earum ullam neque dolorum nihil obcaecati tempora velit
            praesentium cupiditate enim cumque eaque vero voluptas quas. Nihil itaque saepe quaerat.
         </p>

         <p class="text-[1.18rem] leading-[2.4rem] tracking-[0.0225rem] text-gray-500">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui illum officiis quaerat
            possimus? A possimus expedita commodi unde? Eum, quibusdam sint similique dolorum quidem
            quasi cum aliquid sed iusto dolores, error in consequatur tempora dicta fugiat quam,
            incidunt neque ullam hic dignissimos rem eaque consectetur temporibus beatae! Numquam
            laboriosam placeat maxime dicta repellendus ratione natus consequuntur nulla voluptate
            beatae optio voluptates voluptatibus pariatur assumenda eius, sunt harum quisquam minima
            autem? Consequuntur aspernatur nihil reiciendis optio corrupti provident sunt? Nostrum
            possimus a magni rerum tempore impedit ipsa doloribus autem, ipsam nam, consequuntur
            saepe maxime velit? Voluptatem est quo voluptates soluta praesentium!
         </p>

         <p class="text-[1.18rem] leading-[2.4rem] tracking-[0.0225rem] text-gray-500">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe dolor obcaecati eum
            exercitationem officia minus eos, sed, quidem dignissimos accusamus omnis possimus
            dolorum. Recusandae officia nesciunt, illo blanditiis temporibus aperiam. Impedit
            ratione ducimus repellat, omnis ad quibusdam sapiente assumenda earum magni reiciendis
            incidunt id placeat nulla voluptate blanditiis, eaque tempora fugit sed quia minus
            nihil. Veritatis, aspernatur laboriosam eaque laborum ipsa deleniti beatae. Illo
            architecto non quibusdam, repudiandae ab aperiam ullam, voluptas, repellat ipsa autem
            excepturi minus eaque. Magni temporibus, voluptatem accusamus, velit ex consectetur
            aliquam non necessitatibus, aperiam natus reiciendis reprehenderit ab sint possimus cum
            aspernatur repellendus amet distinctio?
         </p>

         <p class="text-[1.18rem] leading-[2.4rem] tracking-[0.0225rem] text-gray-500">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi aperiam beatae
            consectetur autem earum! Rerum, nulla quibusdam aut, voluptatibus nisi inventore enim
            ipsa facere, eos perspiciatis possimus dolor perferendis. Non modi quod eum, nam totam
            esse dolorem consectetur ipsam voluptates officia qui nemo provident aperiam alias
            sapiente? Inventore velit ex numquam cupiditate veniam neque adipisci soluta quia
            possimus, corrupti rem odio! Neque repellendus cum ea unde ratione veniam hic voluptas
            amet! Ratione recusandae error quod doloribus ea, veritatis quae a doloremque nobis
            voluptatem molestias dicta sit, quidem temporibus voluptatum ut placeat iusto quasi.
            Perferendis optio ab excepturi quidem laudantium sapiente eaque saepe recusandae,
            exercitationem ducimus eius. Veritatis perferendis dolorem maxime commodi nesciunt omnis
            excepturi autem, sed voluptatem in mollitia unde ea. Fugit minus vero tenetur itaque
            esse accusamus aspernatur voluptatibus pariatur quasi accusantium dignissimos expedita
            laboriosam, doloribus debitis, delectus voluptates vitae nihil quos ipsum maxime
            quaerat. Neque repellendus, sapiente alias fugit nobis ut odit excepturi ipsa quos quod,
            natus reprehenderit iure, fugiat consequuntur numquam. At rerum voluptas porro iure odio
            reiciendis, nostrum minima modi corrupti aliquid sint necessitatibus temporibus labore
            impedit? Asperiores quasi a possimus perferendis ipsam laudantium sunt recusandae esse
            autem neque deleniti dolorum fugit voluptate culpa, ex natus mollitia rerum eveniet
            commodi nisi! Eligendi voluptatibus, aspernatur delectus illum debitis dolore unde
            aliquam omnis, sapiente facilis dolor libero culpa id aperiam. Facere quia doloribus
            quae natus fuga ab, ducimus accusantium. Nisi architecto ad libero sapiente, velit
            consequatur recusandae illum repellendus atque similique cum ipsum commodi. Ratione
            provident velit voluptatum, dignissimos numquam molestias aperiam, itaque sapiente
            quidem voluptas sit quibusdam architecto deserunt excepturi, quo autem veritatis neque!
            Eius natus, assumenda iusto reiciendis quasi pariatur suscipit quas possimus ducimus!
            Deleniti repellendus ratione mollitia quasi facilis magnam odio dolore est atque,
            aliquid totam odit iure similique soluta deserunt fugiat, quae tempore? Fuga.
         </p>

         <p class="text-[1.18rem] leading-[2.4rem] tracking-[0.0225rem] text-gray-500">
            The information you provide us is subject to our Privacy Policy.
         </p>
      </section>
   </section>
</Layout>
