---
import { Icon } from "astro-icon";
import NavDrop from "components/NavDrop";
import DpPlaceholder from "assets/dpPlaceholder.svg";
import Menu from "components/Menu";
import { url } from "lib/utils";

export interface Props {
   darkNavBg?: boolean;
}

export const prerender = true;

let { darkNavBg } = Astro.props;
---

<nav
   class="container max-w-[1700px] bg-transparent px-container-base lg:px-container-lg xl:px-container-xl"
>
   <div
      class="flex w-full items-center justify-between py-[1.2rem] md:pb-[1rem] md:pt-[1.5rem] lg:border-b-secondary-1 xxl:py-8"
   >
      <div class="flex w-full items-center gap-[2.5rem]">
         <a href="/" class="flex items-center gap-4">
            <img src={url("/images/n-logo.png")} alt="" class="w-24 object-contain lg:w-32" />
         </a>
         <div class="hidden items-center gap-[0.5rem] lg:flex">
            <NavDrop darkNavBg={darkNavBg} client:load />
         </div>
      </div>

      <div
         class="invisible ml-[-6px] flex items-center justify-end gap-4 transition-all duration-500 ease-in-out md:visible md:mb-0 md:w-1/2"
      >
         <a href="#" class="">
            <div
               class="invisible flex items-center justify-center rounded-lg md:px-4 md:py-2 md:pr-6"
            >
               <p class="text-[1.1rem] font-light tracking-wider">Sign In</p>
            </div>
         </a>
         <a href="#contact" class="">
            <div class="flex items-center justify-center rounded-lg bg-primary-1 md:px-4 md:py-4">
               <p class="text-sm font-bold tracking-wider text-white md:text-[1.1rem]">
                  Get Started
               </p>
            </div>
         </a>
      </div>
      <div class="flex md:hidden">
         <Menu client:only />
      </div>
   </div>
</nav>
